Definition of {{name}}
{{#transactionTypes}}
    Transaction Type {{name}}
    {{#transactionRules}}
        will {{transactionOperation}} to {{positionType.name}}
    {{/transactionRules}}
{{/transactionTypes}}